<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="w-50 mx-auto mt-5">
        <h1 class="display-1 text-center">----- Story Bluff -----</h1> 
        <br>
            <% if (typeof isJoining != "undefined") {%>  
        <form action="/<%= roomId  %>" method="POST">
            <div class="text-center"> 
                <label class="display-3" for="username"><u>Username</u></label>
                <input class ="form-control form-control-lg" type="text" id="username" name="username" placeholder="Type your username here" required>
            </div>
            <div id="room_id_input">
                <label for="room_id"></label>
                <input value="<%= roomId %>" type="text" name="room_id" placeholder="the room_id you're joining is in this input" readonly hidden>
            </div>
            <div class="text-center">
                <input class="btn btn-lg btn-info" type="submit" value="Join Room">
            </div>
        </form>
            <% } else { %> 
        <form action="/" method="POST">
            <div class="text-center"> 
                <label class="display-3" for="username"><u>Username</u></label>
                <input class ="form-control form-control-lg" type="text" id="username" name="username" placeholder="Type your username here" required>
            </div>
            <div id="room_id_input">
                <label for="room_id"></label>
                <input type="text" id="room_id" name="room_id" placeholder="your room id is in this input" readonly hidden>
            </div>
            <div class="text-center">
                <input class="btn btn-lg btn-info" type="submit" value="Create Room">
            </div>
        </form>
            <% } %> 
    </div>
</div>

    <script src="/javascripts/index.js"></script>
