<% layout('layouts/boilerplate') %> 

<script>
    const roomId = "<%= roomId %>"
    const username = "<%= username %>"
    const isModerator = "<%= isModerator %>"
</script>

<h1 class="text-center display-1">----- Story Bluff -----</h1> 
<div class="container border border-3 border-primary rounded-3">
    <div class="row">
        <div class="col-sm-3 border-end border-3 border-primary rounded-3">
            <div>
                <h2 class="text-center">[<u>Users</u>]</h2>
                <ul id="user-list"></ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="rate-buttons">
                <div class="row">
                    <h2 class="text-center">-------------------- Point(s)  --------------------</h2>
                    <div class="col-sm"><button value="1" class="rate-button btn btn-primary w-100 h-100" style="background-color:green">1</button></div>
                    <div class="col-sm"><button value="2" class="rate-button btn btn-primary w-100 h-100" style="background-color:lightgreen">2</button></div>
                    <div class="col-sm"><button value="3" class="rate-button btn btn-primary w-100 h-100" style="background-color:palegreen">3</button></div>
                    <div class="col-sm"><button value="4" class="rate-button btn btn-primary w-100 h-100" style="background-color:orange">4</button></div>
                    <div class="col-sm"><button value="5" class="rate-button btn btn-primary w-100 h-100" style="background-color:coral">5</button></div>
                    <div class="col-sm"><button value="6" class="rate-button btn btn-primary w-100 h-100" style="background-color:tomato">6</button></div>
                    <div class="col-sm"><button value="7" class="rate-button btn btn-primary w-100 h-100" style="background-color:orangered">7</button></div>
                    <div class="col-sm"><button value="8" class="rate-button btn btn-primary w-100 h-100" style="background-color:crimson">8</button></div>
                    <div class="col-sm"><button value="9" class="rate-button btn btn-primary w-100 h-100" style="background-color:firebrick">9</button></div>
                    <div class="col-sm"><button value="10" class="rate-button btn btn-primary btn-lg w-100 h-100" style="background-color:darkred">10</button></div>
                </div>
                <div class="row m-5">
                    <div class="col-sm"><button value="15" class="rate-button btn btn-primary w-100 h-100" style="background-color:lavender">15</button></div>
                    <div class="col-sm"><button value="20" class="rate-button btn btn-primary w-100 h-100" style="background-color: thistle">20</button></div>
                    <div class="col-sm"><button value="25" class="rate-button btn btn-primary w-100 h-100" style="background-color:plum">25</button></div>
                    <div class="col-sm"><button value="30" class="rate-button btn btn-primary w-100 h-100" style="background-color:violet">30</button></div>
                    <div class="col-sm"><button value="40" class="rate-button btn btn-primary w-100 h-100" style="background-color:orchid">40</button></div>
                    <div class="col-sm"><button value="50" class="rate-button btn btn-primary w-100 h-100" style="background-color:fuchsia">50</button></div>
                    <div class="col-sm"><button value="60" class="rate-button btn btn-primary w-100 h-100" style="background-color:magenta">60</button></div>
                    <div class="col-sm"><button value="75" class="rate-button btn btn-primary w-100 h-100" style="background-color:mediumpurple">75</button></div>
                    <div class="col-sm"><button value="90" class="rate-button btn btn-primary w-100 h-100" style="background-color:purple">90</button></div>
                    <div class="col-sm"><button value="100" class="rate-button btn btn-primary w-100 h-100" style="background-color:indigo">100</button></div>
                </div>
                <% if (isModerator) {%> 
                    <div class="text-center">
                        <input class="btn btn-primary" id="copy-link-button" type="submit" value="Copy Invite Link!"> 
                    </div>
                <% } %> 
                <h2 class="text-center">---------------------------------------------------</h2>
            </div>
            <div class="container">
                <div class="text-center">
                    <canvas id="myCanvas" width="350" height="350"></canvas>
                </div>
                <div class="text-center">
                    <!-- <form action="" method="GET" id="evaluate-new-rating"> 
                        <input class="btn btn-danger btn-lg w-75 shadow-lg" type="submit" value="Call Another Bluff!"> 
                    </form> -->

                    <form action="" id="evaluate-ratings-form"> 
                        <input class="btn btn-info btn-lg w-75 shadow-lg" type="submit" value="Call the Bluff!"> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/clientSocketIo.js"></script>